.video-card {
    margin: 0 0 6rem;
    overflow: hidden;
}

.player-wrapper {
    position: relative;
}

.hover-player {
    height: 40vh;
    margin-top: -3.3rem;
    display: block;
    overflow: hidden;
}

.hover-player-mini {
    height: 30vh;
    margin-top: -3.3rem;
    display: block;
    overflow: hidden;
    pointer-events:none;
}

/* .react-player__preview{
    border: 5px solid gray;
} */
/* react-player__shadow */
.react-player__play-icon{
    visibility: hidden;
}

.hover-player .react-player {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}

.hover-player:hover .react-player {
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    transform: scale(1.4);
}

.detail-player {
    border-bottom: 1px solid grey;
    height: 70vh;
}

.video-buttons {
    display: flex;
    justify-content: space-around;
    color: grey;
    width: 100%;
}

.video-details {
    padding: 0 2rem;
}
