
/* .content-container{
    margin-top: 5rem;
    margin-left: 15rem;
} */

.content-div{
    margin-left: 15rem;
}

.nav-link{
    list-style: none;
    color: grey;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.1rem;
}

.small-card-img{
    width: 15rem;
    position: relative;

}

.small-card-img img{
    width: 100%;
    height: 100%;
}

.small-card-desc{
    color: gray;
    padding: 0 1rem
}

.small-card-title{
    font-size: 1.3rem;
}

.small-card-time{
    font-size: 1rem;
}

